body {
    background-color: #f0f8ff;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

h1 {
    color: #005b80; 
    font-weight: bold;
}

#searchInput {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
}

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.list-group-item:hover {
    background-color: #f0f8ff; 
}

.btn {
    border-radius: 20px;
    padding: 8px 16px;
}

.btn.edit-btn {
    background-color: #ffc107;
    color: white;
}

.btn.delete-btn {
    background-color: #dc3545;
    color: white;
}

.btn:hover {
    opacity: 0.8;
}

.modal-content {
    border-radius: 10px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    #searchInput {
        max-width: 100%;
    }
}
